* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, p {
    font-family: Verdana, Arial, sans-serif;
}

h2 {
    font-size: small;
    margin: 1em;
}

p {
    background-color: antiquewhite;
    margin: 1em;
}

body {
    background-color: darkslategrey; 

}

header {
    position: fixed;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    width: 100%;

    top: 0px;
    z-index: 10;
    padding: 1em 10em 1em 10em;
}

footer {
    position: absolute;
    background-color: gray;
    width: 100%;
    height: 50px;

}

main {
    position: absolute;
    background-color: darkslategray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    margin-top: 100px;
    width: 60%;
    height: auto;
    left: 0%;
    padding: 1em 1em 1em 10em;
}

aside {
    position: fixed;
    background-color: darkslategray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    margin-top: 100px;
    width: 40%;
    height: auto;
    right: 0%;
    padding: 1em 10em 1em 1em;
}

nav {
    background-color: white;
    width: auto;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    flex-shrink: 1;

}

#trendingpage {
    max-width: 500px;
}

article {
    background-color: aliceblue;
    width: 100%;
    height: auto;
    margin-top: 1em;
}

@media screen and (max-width: 800px) {
    .hide-on-shrink {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .scale-full {
        width: 100%;
        padding: 1em 2em 1em 2em;
    }
}

#login {
    width: 75px;
    height: 25px;
    background-color: white;
}
